* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
    text-transform: uppercase;
    border: none;
    background-color: slategray;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    border-radius: 3px;
    cursor: pointer;
}

.container {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    outline: 5px solid red;
    margin: 0 auto;
}
