* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0px 1px 1.1px hsl(var(--shadow-color) / 0.14),
        0px 1.8px 2px -1.2px hsl(var(--shadow-color) / 0.14),
        0px 4.6px 5.2px -2.5px hsl(var(--shadow-color) / 0.14);
    --shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / 0.14),
        0px 3.6px 4.1px -0.8px hsl(var(--shadow-color) / 0.14),
        -0.1px 9.4px 10.6px -1.7px hsl(var(--shadow-color) / 0.14),
        -0.2px 23px 25.9px -2.5px hsl(var(--shadow-color) / 0.14);
    --shadow-elevation-high: 0px 1px 1.1px hsl(var(--shadow-color) / 0.13),
        -0.1px 7.3px 8.2px -0.4px hsl(var(--shadow-color) / 0.13),
        -0.1px 13.9px 15.6px -0.7px hsl(var(--shadow-color) / 0.13),
        -0.2px 23px 25.9px -1.1px hsl(var(--shadow-color) / 0.13),
        -0.3px 36.9px 41.5px -1.4px hsl(var(--shadow-color) / 0.13),
        -0.4px 57.9px 65.1px -1.8px hsl(var(--shadow-color) / 0.13),
        -0.6px 88.2px 99.2px -2.1px hsl(var(--shadow-color) / 0.13),
        -0.9px 130px 146.3px -2.5px hsl(var(--shadow-color) / 0.13);
}

body {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(242, 250, 239);
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    font-size: 48px;
    margin-bottom: 10px;
    color: #e63946;
}

button {
    text-transform: uppercase;
    border: none;
    background-color: #1d3557;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: bold;
    color: #f1faee;
    margin: 24px 0;
    border-radius: 3px;
    cursor: pointer;
}

.container {
    width: 640px;
    margin: 0 auto;
    box-shadow: var(--shadow-elevation-medium);
}

.container > * {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.para {
    margin-top: 32px;
    font-size: 32px;
    color: #e63946;
    margin-right: 20px;
}

#color-scheme {
    background-color: #1d3557;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #f1faee;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.clear-btn {
    margin-left: 20px;
    margin-top: 10px;
}
